#second{
    margin-left: 30rem;
    margin-top: -170px;
}
#third{
    margin-left: 57rem;
    margin-top: -170px;
}
#fourth{
    color: blueviolet;
    margin-left: 30rem;
    margin-top: -170px;
}
#fifth{
    margin-left: 57rem;
    margin-top: -170px;
}
#sixth{
    margin-left: 29rem;
    margin-top: -170px;
}
#seventh{
    margin-left: 59rem;
    margin-top: -170px;
}
#eighth{
    margin-left: 29rem;
    margin-top: -170px;
}
#nineth{
    margin-left: 59rem;
    margin-top: -170px;
}